.calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  width: 300px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ddd;
}

.month-name {
  font-size: 20px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #a9b2ae;
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #246dff;
}

.days div {
  width: 14.28%;
  text-align: center;
  margin-bottom: 10px;
}

.prev, .next {
  cursor: pointer;
}
